# Android
# Build your Android project with Gradle.
# Add steps that test, sign, and distribute the APK, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/android

trigger:
  branches:
    include:
      - master
pr:
  - master

pool:
  vmImage: 'macos-latest'

variables:
- group: sampleapp-keystore

steps:
- task: Gradle@2
  inputs:
    gradleWrapperFile: 'gradlew'
    workingDirectory: ''
    tasks: 'clean build test assembleRelease assembleDebug assembleAndroidTest'
    publishJUnitResults: true
    testResultsFiles: '**/TEST-*.xml'
    javaHomeOption: 'JDKVersion'
    jdkVersionOption: '1.8'
    gradleOptions: '-Xmx3072m'
    sonarQubeRunAnalysis: false
- task: DownloadSecureFile@1
  inputs:
    secureFile: 'appcenter-sampleapp.keystore'

- task: AppCenterTest@1
  inputs:
    appFile: '$(Build.ArtifactStagingDirectory)/app/build/outputs/apk/debug/*.apk'
    artifactsDirectory: '$(Build.ArtifactStagingDirectory)/AppCenterTest'
    frameworkOption: 'espresso'
    espressoBuildDirectory: '$(Build.ArtifactStagingDirectory)/app/build/outputs/apk/androidTest/debug'
    credentialsOption: 'serviceEndpoint'
    serverEndpoint: 'App Center Token'
    appSlug: 'XTCTeam/appcenter-sampleapp-android'
    devices: '26d62a6c'
    localeOption: 'en_US'

- task: AppCenterDistribute@3
  inputs:
    serverEndpoint: 'App Center Token'
    appSlug: 'XTCTeam/appcenter-sampleapp-android'
    appFile: '$(Build.ArtifactStagingDirectory)/app/build/outputs/apk/release/*.apk'
    symbolsOption: 'Android'
    symbolsMappingTxtFile: '$(Build.ArtifactStagingDirectory)/app/build/outputs/mapping/release/mapping.txt'
    releaseNotesOption: 'input'
    releaseNotesInput: 'Release notes from Azure Pipelines Task'
    destinationType: 'groups'
